In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
csv_umsatz = "https://raw.githubusercontent.com/AHennke/OC-Course/main/umsatzdaten_gekuerzt.csv"
csv_wetter = "https://raw.githubusercontent.com/AHennke/OC-Course/main/wetter.csv"
csv_kiwo = "https://raw.githubusercontent.com/AHennke/OC-Course/main/kiwo.csv"
csv_ferien = "https://raw.githubusercontent.com/AHennke/OC-Course/main/Ferien.csv"
csv_feiertage = "https://raw.githubusercontent.com/AHennke/OC-Course/main/Feiertage.csv"

In [49]:
df_umsatz = pd.read_csv(csv_umsatz)
df_wetter = pd.read_csv(csv_wetter)
df_kiwo = pd.read_csv(csv_kiwo)
df_ferien = pd.read_csv(csv_ferien)
df_feiertage = pd.read_csv(csv_feiertage)

In [50]:
# show first 5 rows of each dataframe
print(df_umsatz.head())
print(df_wetter.head())
print(df_kiwo.head())
print(df_ferien.head())
print(df_feiertage.head())

        Datum  Warengruppe      Umsatz
0  2013-07-01            1  148.828353
1  2013-07-02            1  159.793757
2  2013-07-03            1  111.885594
3  2013-07-04            1  168.864941
4  2013-07-05            1  171.280754
        Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
0  2012-01-01         8.0      9.8250                   14        58.0
1  2012-01-02         7.0      7.4375                   12         NaN
2  2012-01-03         8.0      5.5375                   18        63.0
3  2012-01-04         4.0      5.6875                   19        80.0
4  2012-01-05         6.0      5.3000                   23        80.0
        Datum  KielerWoche
0  2012-06-16            1
1  2012-06-17            1
2  2012-06-18            1
3  2012-06-19            1
4  2012-06-20            1
            Vacancy    VacSTART      VacEND
0       Osterferien  25/03/2013    9/4/2013
1      Sommerferien  24/06/2013    2/8/2013
2      Herbstferien   4/10/2013  18/10/2013
3  Weihnachtsferien  23/12/2013    3/1/2014
4       Osterferien  16/04/2014    2/5/2014
         Date      Holiday
0    1/1/2013      Neujahr
1  29/03/2013   Karfreitag
2    1/1/2013  Ostermontag
3    1/5/2013          Mai
4    9/5/2013  Himmelfahrt

#### Create a column for indicating holidays as 1, while no holidays are marked by 0

In [51]:
df_ferien['VacEND'] = pd.to_datetime(df_ferien['VacEND'], format="%d/%m/%Y")    # convert to datetime
df_ferien['VacSTART'] = pd.to_datetime(df_ferien['VacSTART'], format="%d/%m/%Y")    # convert to datetime
df_ferien.head()

            Vacancy   VacSTART     VacEND
0       Osterferien 2013-03-25 2013-04-09
1      Sommerferien 2013-06-24 2013-08-02
2      Herbstferien 2013-10-04 2013-10-18
3  Weihnachtsferien 2013-12-23 2014-01-03
4       Osterferien 2014-04-16 2014-05-02

In [52]:
#show the columns of the df_ferien
print(df_ferien.columns)

Index(['Vacancy', 'VacSTART', 'VacEND'], dtype='object')

In [53]:
# create a list of all dates between VacSTART and VacEND
expanded_dates = []

for idx, row in df_ferien.iterrows():
    date_range = pd.date_range(row['VacSTART'], row['VacEND'])
    for date in date_range:
        expanded_dates.append({'Date': date, 'is_holiday': 1})

expanded_df = pd.DataFrame(expanded_dates)

In [54]:
#Create a date range that covers the entire period from the earliest startdate to the latest enddate in your DataFrame.
start = df_ferien['VacSTART'].min()
end = df_ferien['VacEND'].max()
complete_date_range = pd.date_range(start, end)

In [55]:
# Create a DataFrame for the complete date range with initial values of 0 (non-holiday)
complete_dates_df = pd.DataFrame({'Date': complete_date_range, 'is_holiday': 0})

In [56]:
result_df = pd.merge(complete_dates_df, expanded_df, on='Date', how='left')
result_df['is_holiday'] = result_df['is_holiday_y'].fillna(0).astype(int)
result_df = result_df[['Date', 'is_holiday']]
result_df.head(20)

         Date  is_holiday
0  2013-03-25           1
1  2013-03-26           1
2  2013-03-27           1
3  2013-03-28           1
4  2013-03-29           1
5  2013-03-30           1
6  2013-03-31           1
7  2013-04-01           1
8  2013-04-02           1
9  2013-04-03           1
10 2013-04-04           1
11 2013-04-05           1
12 2013-04-06           1
13 2013-04-07           1
14 2013-04-08           1
15 2013-04-09           1
16 2013-04-10           0
17 2013-04-11           0
18 2013-04-12           0
19 2013-04-13           0

In [57]:
#save the result_df to a csv file in this repository
result_df.to_csv('holidays.csv', index=False)

In [58]:
df_umsatz.head()

        Datum  Warengruppe      Umsatz
0  2013-07-01            1  148.828353
1  2013-07-02            1  159.793757
2  2013-07-03            1  111.885594
3  2013-07-04            1  168.864941
4  2013-07-05            1  171.280754

In [59]:
df_wetter.head()

        Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
0  2012-01-01         8.0      9.8250                   14        58.0
1  2012-01-02         7.0      7.4375                   12         NaN
2  2012-01-03         8.0      5.5375                   18        63.0
3  2012-01-04         4.0      5.6875                   19        80.0
4  2012-01-05         6.0      5.3000                   23        80.0

In [60]:
df_kiwo.head()

        Datum  KielerWoche
0  2012-06-16            1
1  2012-06-17            1
2  2012-06-18            1
3  2012-06-19            1
4  2012-06-20            1

#### identify the different values within one column

In [61]:
unique_values = df_umsatz['Warengruppe'].unique()
print(unique_values)

[1 2 3 4 5 6]

In [62]:
total_rows = df_umsatz.shape[0]
print(total_rows)

9334

##### merge Umsatz and Wetter Data frame via left join (left is Umsatz)

In [63]:
merged_df = pd.merge(df_umsatz, df_wetter, on='Datum', how='left')

In [64]:
merged_df.head()

,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode
0,2013-07-01,1,148.828353,6.0,17.8375,15.0,20.0
1,2013-07-02,1,159.793757,3.0,17.3125,10.0,NaN
2,2013-07-03,1,111.885594,7.0,21.0750,6.0,61.0
3,2013-07-04,1,168.864941,7.0,18.8500,7.0,20.0
4,2013-07-05,1,171.280754,5.0,19.9750,12.0,NaN

##### merge the kiwo data via left join as well

In [65]:
merged_df = pd.merge(merged_df, df_kiwo, on='Datum', how='left')

In [66]:
merged_df.head()

,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche
0,2013-07-01,1,148.828353,6.0,17.8375,15.0,20.0,NaN
1,2013-07-02,1,159.793757,3.0,17.3125,10.0,NaN,NaN
2,2013-07-03,1,111.885594,7.0,21.0750,6.0,61.0,NaN
3,2013-07-04,1,168.864941,7.0,18.8500,7.0,20.0,NaN
4,2013-07-05,1,171.280754,5.0,19.9750,12.0,NaN,NaN

In [67]:
print(merged_df)

           Datum  Warengruppe      Umsatz  Bewoelkung  Temperatur  \
0     2013-07-01            1  148.828353         6.0     17.8375
1     2013-07-02            1  159.793757         3.0     17.3125
2     2013-07-03            1  111.885594         7.0     21.0750
3     2013-07-04            1  168.864941         7.0     18.8500
4     2013-07-05            1  171.280754         5.0     19.9750
...          ...          ...         ...         ...         ...
9329  2017-12-21            6   87.471228         7.0      6.2375
9330  2017-12-22            6   71.911652         7.0      5.7625
9331  2017-12-23            6   84.062223         7.0      7.8000
9332  2017-12-24            6   60.981969         7.0      8.1125
9333  2017-12-27            6   34.972644         7.0      4.6125

      Windgeschwindigkeit  Wettercode  KielerWoche
0                    15.0        20.0          NaN
1                    10.0         NaN          NaN
2                     6.0        61.0          NaN
3                     7.0        20.0          NaN
4                    12.0         NaN          NaN
...                   ...         ...          ...
9329                 10.0        21.0          NaN
9330                  9.0        10.0          NaN
9331                 19.0        61.0          NaN
9332                 16.0        61.0          NaN
9333                  7.0        21.0          NaN

[9334 rows x 8 columns]

In [68]:
# convert NaN values to 0 to proceed with the calculation

merged_df.fillna(0, inplace=True)
merged_df.head()

,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche
0,2013-07-01,1,148.828353,6.0,17.8375,15.0,20.0,0.0
1,2013-07-02,1,159.793757,3.0,17.3125,10.0,0.0,0.0
2,2013-07-03,1,111.885594,7.0,21.0750,6.0,61.0,0.0
3,2013-07-04,1,168.864941,7.0,18.8500,7.0,20.0,0.0
4,2013-07-05,1,171.280754,5.0,19.9750,12.0,0.0,0.0

In [69]:
# Convert Date to datetime
merged_df['Date'] = pd.to_datetime(merged_df['Datum'])

In [70]:
merged_df.head()

,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Date
0,2013-07-01,1,148.828353,6.0,17.8375,15.0,20.0,0.0,2013-07-01
1,2013-07-02,1,159.793757,3.0,17.3125,10.0,0.0,0.0,2013-07-02
2,2013-07-03,1,111.885594,7.0,21.0750,6.0,61.0,0.0,2013-07-03
3,2013-07-04,1,168.864941,7.0,18.8500,7.0,20.0,0.0,2013-07-04
4,2013-07-05,1,171.280754,5.0,19.9750,12.0,0.0,0.0,2013-07-05

In [71]:
# This code will remove the columns specified in the columns_to_remove list from your DataFrame df. Setting inplace=True modifies the DataFrame in place, meaning the changes will be applied directly to df.
column_to_remove = ["Datum"]
merged_df.drop(columns=column_to_remove, inplace=True)

#### Merge holidays.csv to merged_df

In [72]:
#merge merged_df with result_df
merged_df = pd.merge(merged_df, result_df, on='Date', how='left')
merged_df.head()

,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Date,is_holiday
0,1,148.828353,6.0,17.8375,15.0,20.0,0.0,2013-07-01,1.0
1,1,159.793757,3.0,17.3125,10.0,0.0,0.0,2013-07-02,1.0
2,1,111.885594,7.0,21.0750,6.0,61.0,0.0,2013-07-03,1.0
3,1,168.864941,7.0,18.8500,7.0,20.0,0.0,2013-07-04,1.0
4,1,171.280754,5.0,19.9750,12.0,0.0,0.0,2013-07-05,1.0

In [73]:
#save the merged_df to a csv file in this repository
merged_df.to_csv('merged_df.csv', index=False)

#### Add a column and assign weekends and one for weekdays

In [87]:
# Add a column to check if the day is a weekend (Saturday=5, Sunday=6)
merged_df['is_weekend'] = merged_df['Date'].dt.weekday.apply(lambda x: 1 if x >= 5 else 0)
# Add a column to check if the day is a weekdays (Monday to Friday)
merged_df['is_weekday'] = merged_df['Date'].dt.weekday.apply(lambda x: 1 if x < 5 else 0)
merged_df.head()

,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Date,is_holiday,is_weekend,Summer,Winter,is_weekday
0,1,148.828353,6.0,17.8375,15.0,20.0,0.0,2013-07-01,1.0,0,1,0,1
1,1,159.793757,3.0,17.3125,10.0,0.0,0.0,2013-07-02,1.0,0,1,0,1
2,1,111.885594,7.0,21.0750,6.0,61.0,0.0,2013-07-03,1.0,0,1,0,1
3,1,168.864941,7.0,18.8500,7.0,20.0,0.0,2013-07-04,1.0,0,1,0,1
4,1,171.280754,5.0,19.9750,12.0,0.0,0.0,2013-07-05,1.0,0,1,0,1

In [88]:
# Add a column to check if the month is between April (4) and October (10)
merged_df['Summer'] = merged_df['Date'].dt.month.apply(lambda x: 1 if 4 <= x <= 10 else 0)
# Add a column to check if the month is between November (11) and March (3)
merged_df['Winter'] = merged_df['Date'].dt.month.apply(lambda x: 1 if x <= 3 or x >= 11 else 0)
merged_df.head()
#save the merged_df to a csv file in this repository
merged_df.to_csv('merged_df.csv', index=False)

#### Data Exploration

In [ ]:
# evaluate correlation between T and wind

merged_df.plot(x='Temperatur', y='Windgeschwindigkeit', kind='scatter')

In [ ]:
x = merged_df['Temperatur']
y = merged_df['Umsatz']

# Scatter plot
plt.scatter(x, y, label='Data')

# Calculate the polynomial regression line
z = np.polyfit(x, y, 1)
p = np.poly1d(z)
plt.plot(x, p(x), color='red', label='Trendline')

# Add labels, title, and legend
plt.xlabel('Temperatur')
plt.ylabel('Umsatz')
plt.title('Scatter Plot with Trendline')
plt.legend()

# Show the plot
plt.show()

In [ ]:
# Assign weekdays to the dates
merged_df['Weekday'] = merged_df['Date'].dt.weekday  # Monday is 0 and Sunday is 6

In [ ]:
merged_df.head()

In [ ]:
# Map weekday numbers to weekday names (optional)
weekday_names = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}
merged_df['Weekday'] = merged_df['Weekday'].map(weekday_names)

In [ ]:
merged_df.head()

In [ ]:
# Calculate the mean of each weekday
weekday_means = merged_df.groupby('Weekday')['Umsatz'].mean()

# Sort weekdays by their number
weekday_means = weekday_means.reindex(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
weekday_means

In [ ]:
# Plotting the results
plt.figure(figsize=(10, 6))
weekday_means.plot(kind='bar', color='skyblue')
plt.title('Mean Value by Weekday')
plt.xlabel('Weekday')
plt.ylabel('Durchschnittlicher Umsatz')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.grid(axis='y')  # Add horizontal gridlines
plt.tight_layout()  # Adjust layout to prevent clipping of labels
plt.show()

In [ ]:
# Calculate the mean sales for each month

In [ ]:
#Create a new column for month: Extract the month from the 'date' column and create a new column in the DataFrame to store it.

merged_df['month'] = merged_df['Date'].dt.month

In [ ]:
merged_df.head()

In [ ]:
#Create a new column for month: Extract the month from the 'date' column and create a new column in the DataFrame to store it.

merged_df['month'] = merged_df['Date'].dt.month

In [ ]:
#Group by month and calculate the mean: Use the groupby() function to group the DataFrame by the 'month' column, then calculate the mean for each group.

monthly_means = merged_df.groupby('month')['Umsatz'].mean()
monthly_means.head()

In [ ]:
# Plotting the results
plt.figure(figsize=(10, 6))
monthly_means.plot(kind='bar', color='skyblue')
plt.title('Mean Value by month')
plt.xlabel('Monat')
plt.ylabel('Durchschnittlicher Umsatz')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.grid(axis='y')  # Add horizontal gridlines
plt.tight_layout()  # Adjust layout to prevent clipping of labels
plt.show()

In [ ]:
non_numeric_columns = merged_df.select_dtypes(exclude=['number']).columns
# Convert non-numeric columns to numeric (if possible)
for column in non_numeric_columns:
    try:
        merged_df[column] = pd.to_numeric(merged_df[column])
    except ValueError:
        print(f"Could not convert {column} to numeric.")

In [ ]:
# This code will remove the columns specified in the columns_to_remove list from your DataFrame df. Setting inplace=True modifies the DataFrame in place, meaning the changes will be applied directly to df.
columns_to_remove = ["Weekday", "Datum"]
merged_df.drop(columns=columns_to_remove, inplace=True)

In [ ]:
# group by month and calculate the mean and write it to a new dataframe
monthly_means_df = merged_df.groupby('month').mean().reset_index()
monthly_means_df.head()

In [ ]:
##Group by month and calculate the mean: Use the groupby() function to group the DataFrame by the 'month' column, then calculate the mean for each group.

monthly_means_clouds = merged_df.groupby('month')['Bewoelkung'].mean()
monthly_means_clouds.head()

In [ ]:
# Plotting the results
plt.figure(figsize=(10, 6))
monthly_means_clouds.plot(kind='bar', color='skyblue')
plt.title('Mean Value by month')
plt.xlabel('Monat')
plt.ylabel('Durchschnittliche Bewölkung')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.grid(axis='y')  # Add horizontal gridlines
plt.tight_layout()  # Adjust layout to prevent clipping of labels
plt.show()

In [ ]:
monthly_means_T = merged_df.groupby('month')['Temperatur'].mean()
monthly_means_T.head()

In [ ]:
# group by Bewoelkung and calculate the mean and write it to a new dataframe
cloudy_means_df = merged_df.groupby('Bewoelkung').mean().reset_index()
cloudy_means_df.head()

In [ ]:
# Plotting the Temperature by Bewoelkung

plt.figure(figsize=(10, 6))
cloudy_means_df[ 'Temperatur'].plot(kind='line', color='skyblue')
plt.title('Mean Value by Bewoelkung')
plt.xlabel('Bewoelkung')
plt.ylabel('Temperatur (°C)')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.grid(axis='y')  # Add horizontal gridlines
plt.tight_layout()  # Adjust layout to prevent clipping of labels
plt.show()

In [ ]:
# Plotting the Umsatz by Bewoelkung

plt.figure(figsize=(10, 6))
cloudy_means_df[ 'Umsatz'].plot(kind='line', color='skyblue')
plt.title('Mean Value by Bewoelkung')
plt.xlabel('Bewoelkung')
plt.ylabel('Umsatz')
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability
plt.grid(axis='y')  # Add horizontal gridlines
plt.tight_layout()  # Adjust layout to prevent clipping of labels
plt.show()

In [ ]:
# group by Windgeschwindigkeit and calculate the mean and write it to a new dataframe
wind_means_df = merged_df.groupby('Windgeschwindigkeit').mean().reset_index()
wind_means_df.head()